.board-wrap,
.board_write_wrap,
.detail-wrap {
  padding: 0 20px !important;
}
/* *************
* board
*****************/
.board-header {
  display: flex;
  justify-content: space-between;
}
.board-header > div {
  font-size: 30px;
  letter-spacing: -0.04em;
  color: #333;
}
.btn-write {
  white-space: nowrap;
  max-height: 45px;
}
.board-album-wrap {
  margin-bottom: 40px;
}
/* *************
* board_write
*****************/
.board_write_header {
  font-size: 30px;
  letter-spacing: -0.04em;
  color: #333;
}
.write-form {
  padding: 20px;
}
.btn-write-form {
  padding: 10px 0;
  text-align: right;
}
/* *************
* borad_detail
*****************/
.btn-detail-form {
  text-align: right;
  padding-top: 10px;
}
/* *************
* posting box
*****************/
.posting-box {
  margin-top: 20px;
}

.posting-box > .custom-file {
  margin-bottom: 20px;
}

.container {
  padding-left: 50px;
}

.wrap {
  min-height: 100vh;
}
