.board-wrap,
.board_write_wrap,
.detail-wrap,
.update-wrap {
  margin: 0 auto;
  padding: 0 20px !important;
  margin-bottom: 20px;
  /* max-width: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
/* *************
* board
*****************/
.board-header {
  display: flex;
  justify-content: space-between;
}
.board-header > div {
  font-size: 30px;
  letter-spacing: -0.04em;
  color: #333;
}
.btn-write {
  white-space: nowrap;
  max-height: 45px;
}
.board-album-wrap {
  margin-bottom: 40px;
}
.card-info {
  position: relative;
}
.card-info > .card-text:nth-of-type(1) {
  margin-bottom: 15px;
}
.card-info > .card-text:nth-of-type(2) {
  position: absolute;
  top: -38px;
  right: 5px;
  font-weight: 500;
  background-color: #fff;
  padding: 2px 8px;
  border-radius: 10px;
  border: 2px solid #bbb;
}
.card-info > .card-text:last-child {
  position: absolute;
  right: 10px;
  bottom: 5px;
}

/* *************
* board_write
*****************/
.board_write_header {
  font-size: 30px;
  letter-spacing: -0.04em;
  color: #333;
}
.write-form {
  padding: 20px;
}
.btn-write-form {
  padding: 10px 0;
  text-align: right;
}
textarea#contents {
  resize: none;
}
/* *************
* borad_detail
*****************/
.announce {
  font-size: 30px;
  letter-spacing: -0.04em;
  color: #333;
}
.btn-detail-form {
  text-align: right;
  padding-top: 10px;
}
.detail-img {
  padding: 20px 0;
}
.detail-title,
.detail-body {
  background-color: transparent !important;
  border: none;
}
.detail-title:focus,
.detail-body:focus {
  box-shadow: none;
}
.detail-title {
  font-size: 20px;
  font-weight: 700;
  border: 0px;
}
.body-writer {
  font-weight: 500;
}
.detail-body,
.comment-body {
  resize: none;
}
/* *************
* posting box
*****************/
.posting-box {
  margin-top: 20px;
}

.posting-box > .custom-file {
  margin-bottom: 20px;
}

.container {
  padding-left: 50px;
}
.form-group {
  margin-top: 10px;
}
.posting-box,
.text-center {
  max-width: 1000px;
  margin: 0 auto;
}
