* {
  font-family: 'Noto Sans KR', sans-serif;
}
/************ 
 * header
 *************/
.header-logo {
  font-size: 30px;
  font-weight: 700;
}
/************ 
 * footer
 *************/
.footer__wrap {
  background-color: #ccc;
}
.footerFont {
  margin-bottom: 0 !important;
  background-color: #ccc;
}

.form-group {
  margin-bottom: 10px;
}

* {
  font-family: 'Jua', sans-serif;
}

.posting-box {
  width: 500px;
  margin-top: 20px;
}

.wrap {
  width: 900px;
  margin: auto;
}

.container {
  padding-left: 50px;
}

.posting-box > .custom-file {
  margin-bottom: 20px;
}
