/**********************************
 * banner
 ************************************/
.lead {
  padding-bottom: 20px;
}
/************
 * Search bar
 *************/
.search__bar--wrap {
  display: flex;
  justify-content: center;
}
.search__bar {
  display: flex;
  gap: 10px;
}
.btn-search {
  white-space: nowrap;
}
/**********************************
 * Thumbnail
 ************************************/
.thumbnail {
  transition: all 0.2s ease-in-out;
}
.thumbnail:hover {
  transform: scale(1.05);
}
.thunmbnail__title {
  text-align: center;
  font-size: 18px;
}
.card-body {
  padding: 0.8rem 0.8rem;
}
/************
 * Modal
 *************/
.modal-backdrop {
  z-index: 0;
}

/**************************************
 * Media Query
 ***************************************/
@media (min-width: 992px) {
  .search__bar--wrap {
    display: block;
  }
}
