/**********************************
 * banner
 ************************************/
.lead {
  padding-bottom: 20px;
}
/************
 * Search bar
 *************/
.search__bar--wrap {
  display: flex;
  justify-content: center;
}
.search__bar {
  display: flex;
  gap: 10px;
}
.btn-search {
  white-space: nowrap;
}
/************
 * Modal
 *************/
.modal-backdrop {
  z-index: 0;
}

@media (min-width: 992px) {
  .search__bar--wrap {
    display: block;
  }
}
