body {
  padding-right: 0 !important;
}
.container {
  padding: 0;
}
/**********************************
 * banner
 ************************************/
.banner__title {
  color: #ac784b;
  letter-spacing: -0.05em;
}
.banner__title > span {
  color: #9b6231;
}
.lead {
  padding-bottom: 20px;
}
/************
 * Search bar
 *************/
.search__bar--wrap {
  display: flex;
  justify-content: center;
}
.search__bar {
  display: flex;
  gap: 10px;
}
.btn-search {
  white-space: nowrap;
}
/**********************************
 * Thumbnail
 ************************************/
.album__wrap {
  background-color: #efe9da;
}
.columns-masonry {
  display: inline-block;
  margin: 0;
  padding: 10px;
  column-width: 170px;
  column-gap: 15px;
}
.thumbnail {
  transition: all 0.2s ease-in-out;
  filter: grayscale(20%);
}
.thumbnail:hover {
  transform: scale(1.05);
  filter: none;
}
.thunmbnail__title {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.card-body {
  padding: 0.8rem 0.8rem;
}
/************
 * Modal
 *************/
.modal-backdrop {
  z-index: 0;
}
.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-title {
  font-size: 20px;
  font-weight: 700;
}
#modal-img {
  margin: 0 auto;
  padding: 0 20px 20px;
  object-fit: contain;
}
.modal-desc {
  text-indent: 1em;
}

/**************************************
 * Media Query
 ***************************************/
@media (min-width: 992px) {
  .search__bar--wrap {
    display: block;
  }
}
