/**********************************
 * banner
 ************************************/
.lead {
  padding-bottom: 20px;
}
/************
 * Search bar
 *************/
.search__bar--wrap {
  display: flex;
  justify-content: center;
}
.search__bar {
  display: flex;
  gap: 10px;
}
.btn-search {
  white-space: nowrap;
}
/**********************************
 * Thumbnail
 ************************************/
.columns-masonry {
  display: inline-block;
  margin: 0;
  margin-bottom: 15px;
  padding: 10px;
  column-width: 200px;
  column-gap: 15px;
}
.thumbnail {
  transition: all 0.2s ease-in-out;
}
.thumbnail:hover {
  transform: scale(1.05);
}
.thunmbnail__title {
  text-align: center;
  font-size: 18px;
}
.card-body {
  padding: 0.8rem 0.8rem;
}
/************
 * Modal
 *************/
.modal-backdrop {
  z-index: 0;
}
.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#modal-img {
  margin: 0 auto;
  padding: 0 20px 20px;
  object-fit: contain;
}
.modal-desc {
  text-indent: 1em;
}

/**************************************
 * Media Query
 ***************************************/
@media (min-width: 992px) {
  .search__bar--wrap {
    display: block;
  }
}
