{% extends 'layout.html' %} {% block content %}
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
<script>
  $(document).ready(function () {
    bsCustomFileInput.init();
  });

  function board_update() {
    let title = $('#title').val();
    let contents = $('#contents').val();
    let boardid = $('#boardid').val();

    if (title == '') {
      alert('제목을 입력하세요.');
      return;
    }
    if (contents == '') {
      alert('내용을 입력하세요');
      return;
    }

    let filename = $('#filename').val();
    let file = $('#file')[0].files[0];
    let form_data = new FormData();

    form_data.append('orgFile', filename);
    form_data.append('boardId', boardid);
    form_data.append('file', file);
    form_data.append('title', title);
    form_data.append('contents', contents);

    $.ajax({
      type: 'PUT',
      url: '/board/update',
      data: form_data,
      cache: false,
      contentType: false,
      processData: false,
      success: function (response) {
        alert(response['msg']);
        window.location.href = '/board/detail?id=' + boardid;
      },
    });
  }

  function fileCheck() {
    if ($('#file')[0].files.length == 0) {
      $('#filename').val('');
      return;
    }

    let filename = $('#file')[0].files[0].name;
    let pathpoint = filename.lastIndexOf('.');
    let filepoint = filename.substring(pathpoint + 1, filename.length);
    let filetype = filepoint.toLowerCase();

    if (
      filetype == 'jpg' ||
      filetype == 'gif' ||
      filetype == 'png' ||
      filetype == 'jpeg' ||
      filetype == 'bmp'
    ) {
    } else {
      alert('이미지 파일만 선택할 수 있습니다.');
      $('#file').val('');
      return;
    }

    $('#filename').val(filename);
  }

  function goBack() {
    window.history.back();
  }
</script>
<body>
  <div class="update-wrap">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="blind">글 쓰기</h1>
        <div class="posting-box">
          <input hidden id="boardid" value='{{ board['id'] }}'>
          <div class="custom-file">
            <input
              type="file"
              id="file"
              class="custom-file-input"
              onchange="fileCheck()"
              accept="image/gif,image/jpeg,image/png"
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">현재 파일</label>
            <input type="text" style="margin-top: 10px" class="form-control"
            id="filename" readonly value='{{ board['imgUrl'] }}'>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1" class="blind">제목</label>
            <input type="text" class="form-control" id="title"
            placeholder="제목" value='{{ board['title'] }}'>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1" class="blind">내용</label>
            <textarea class="form-control" id="contents" rows="20">
{{ board['contents'] }}</textarea
            >
          </div>
          <div class="form-group btn-write-form">
            <button class="btn btn-primary" onclick="board_update()">
              저장
            </button>
            <button class="btn btn-primary" onclick="goBack()">취소</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
