{% extends 'layout.html' %} {% block content %}
    <script>

        $(document).ready(function () {
            getBoardList();
        })

        function getBoardList() {
            $.ajax({
                type: "GET",
                url: "/board/select",
                data: {},
                success: function (response) {

                }
            });
        }
    </script>

    <body>
    <div class="card-group">
        {% for res in result %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../static/images/{{ res['imgUrl'] }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ res['title'] }}</h5>
                    <p class="card-text">{{ res['contents'] }}</p>
                    <p class="card-text"><small class="text-muted">{{ res['updateTime'] }}</small></p>
                </div>
            </div>
        {% endfor %}
    </div>
    </body>
{% endblock %}