{% extends 'layout.html' %} {% block content %}
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="../static/img/banner-dog.png"
        class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">IntroDog?</h1>
      <p class="lead">
        "IntroDog" 은 애견인들의 의견을 교류할 수 있는 사이트입니다.<br />
        반려견을 키우면서 생기는 질문, 일상 등 사소한 것까지 다른 이들과 함께
        교류할 수 있습니다!
      </p>
      <div class="search__bar--wrap">
        <form class="col-8 col-lg-auto mb-3 mb-lg-0 search__bar">
          <input
            id="input_kw"
            type="text"
            class="form-control"
            placeholder="궁금한 반려견의 종류를 검색해 주세요!"
            aria-label="Search"
          />
          <button type="button" class="btn btn-secondary btn-search">
            검색
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <img id="modal-img" alt="" />
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- // Modal -->

<!-- Thumbnail -->

<main class="bg-light">
  <div class="album py-5">
    <div class="container clearFix">
      <div
        id="thumbnail-box"
        class="row row-cols-3 row-cols-sm-3 row-cols-md-5 row-cols-lg-6 g-3"
      >
        <!-- Button trigger modal -->
        <button
          type="button"
          class="thumbnail"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          data-bs-whatever="골든 리트리버"
          data-img="https://ww.namu.la/s/db6df9d8f32a265abab22f79f0e954cc056451a76751d1211516f5c02c9af0a7ff0602e3f327ab1f916c2ad4c8cfc00465003ae8251628bec3749ad7b270491dfcd403ee51873e7d79d4db384e9c2466ec97fb17fc47146fcc76da4cbadb7443"
        >
          <div class="col">
            <div class="card shadow-sm">
              <img
                src="https://ww.namu.la/s/db6df9d8f32a265abab22f79f0e954cc056451a76751d1211516f5c02c9af0a7ff0602e3f327ab1f916c2ad4c8cfc00465003ae8251628bec3749ad7b270491dfcd403ee51873e7d79d4db384e9c2466ec97fb17fc47146fcc76da4cbadb7443"
                width="100%"
                height="100%"
                title="골든 리트리버"
                alt="골든
              리트리버"
              />
              <div class="card-body">
                <p class="thunmbnail__title card-text">골든 리트리버</p>
              </div>
            </div>
          </div>
        </button>
        <button class="thumbnail">test</button>
        <button class="thumbnail">test</button>
        <button class="thumbnail">test</button>
        <button class="thumbnail">test</button>
        <button class="thumbnail">test</button>
        <button class="thumbnail">test</button>
        <button class="thumbnail">test</button>
      </div>
    </div>
  </div>
</main>
<!-- // Thumbnail -->

<!-- 재혁님 작업 -->

<button
  class="btn btn-secondary"
  style="margin-left: 5px"
  onclick="window.location.href ='/board/write'"
>
  글쓰기
</button>
<button
  class="btn btn-secondary"
  style="margin-left: 5px"
  onclick="window.location.href ='/board/select'"
>
  게시글 목록
</button>

<h5 class="subtitle">나의 닉네임은: {{ nickname }}</h5>
<button class="button is-danger" onclick="logout()">로그아웃하기</button>
<button class="button is-danger" onclick="boardList()">보드로 이동</button>
<button class="button is-danger" onclick="write_page()">
  글쓰기 페이지로 이동
</button>
<!-- //재혁님 작업 -->
<script src="../static/js/main.js"></script>
{% endblock %}
