{% extends 'layout_sub.html' %} {% block content %}
<div class="section">
  <div class="container-body">
    <h1 class="title">Sign-up to IntroDog</h1>

    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <div class="control has-icons-left has-icons-right">
            <input
              type="text"
              class="input"
              id="useremail"
              placeholder="Email"
              onkeyup="check_email()"
            />
            <span class="icon is-small is-left">
              <i class="bx bx-user"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check email-confirm"></i>
            </span>
          </div>
          <p class="register-desc email-text-msg">이메일 형식이 아닙니다</p>
        </div>
      </div>
    </div>

    <div class="test field is-grouped">
      <p class="control is-expanded has-icons-left has-icons-right">
        <input
          class="input"
          type="text"
          id="userid"
          placeholder="ID ➡️ 로그인시 사용됩니다 😀"
          disabled
          onkeyup="check_id()"
        />
        <span class="icon is-small is-left">
          <i id="id_confirm" class="bx bx-user"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check id-confirm-icon"></i>
        </span>
      </p>
      <button class="checkBtn" onclick="checkdup()" id="check-dup">
        중복확인
      </button>
    </div>
    <p class="register-desc id-text-msg">
      영문과 숫자, 일부 특수문자(._-)만 사용 가능, 2-10자 길이. 영문 무조건 포함
    </p>

    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <div class="control has-icons-left has-icons-right">
            <input
              type="text"
              class="input"
              id="usernick"
              placeholder="닉네임"
              disabled
              onkeyup="check_nick()"
            />
            <span class="icon is-small is-left">
              <i class="bx bx-user"></i>
            </span>
          </div>
          <p class="register-desc nick-text-msg">닉네임을 입력해주세요</p>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <div class="control has-icons-left has-icons-right">
            <input
              type="password"
              class="input"
              id="userpw"
              placeholder="Password"
              onkeyup="check_pw()"
              disabled
            />
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
          <p class="register-desc pw-text-msg">
            영문과 숫자 조합의 8-20자의 비밀번호를
            설정해주세요.특수문자(!@#$%^&*)도 사용 가능합니다.
          </p>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <div class="control has-icons-left has-icons-right">
            <input
              type="password"
              class="input"
              id="pwconfirm"
              placeholder="Password Confirm"
              disabled
              onkeyup="confirm_pw()"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
          <p class="register-desc pw-confirm-text-msg">비밀번호가 틀립니다</p>
        </div>
      </div>
    </div>
    <div class="profile">
      <div class="input-group mb-3">
        <label class="input-group-text" for="file">프로필 사진</label>
        <input
          type="file"
          class="form-control"
          id="file"
          onchange="fileCheck()"
          accept="image/gif,image/jpeg,image/png"
        />
      </div>
    </div>

    <div class="multi-selector">
      <div class="select-field">
        <span class="down-arrow1">🐶</span>
        <p>당신의 강아지는 무엇입니까?</p>
        <span class="down-arrow">&blacktriangledown;</span>
      </div>
      <!---------List of checkboxes and options----------->
      <div id="checkboxgroup" class="list"></div>
    </div>
    <p class="dog-text-msg">강아지 정보를 입력해주세요!</p>
    <p class="show-list"></p>

    <button class="button is-primary" onclick="join()">회원가입</button>
  </div>
</div>

<!-- script -->
<script src="{{ url_for('static', filename='js/join.js') }}"></script>
{% endblock %}
